.App {
  text-align: center;
  background-color: #28323D;
}

h2{
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.desktop {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background: url('/images/imac.png') no-repeat;
  background-position: center;
  height: 500px;
  /*z-index: 200;*/
  position: relative;
}

.background {
  max-width: 100%;
  width: 515px;
  padding-top: 45px;
  height: 300px;
}

.buttonsContainer{
  position: absolute;
  top: 100px;
  height: 50px;
  padding: 10px 10px;
  width: 100%;
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 8px;
  border: 1px solid #666;
  color: #666;
  text-align: center;
  font: 20px Arial, sans-serif;
  display: inline-block;
  margin-right: 10px;
}

.buttonContainer{
  width:20%;
  height: 150px;
  cursor: pointer;
  color: #666;
}

.buttonContainer:hover .circle{
  color: #aaa;
  background: #5CABDE;
}

.buttonContainer:hover .text{
  color: #aaa;
}

.buttonContainer:nth-child(odd){
  float:right;
}

.curtain {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 100;
  display:block;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}